<article class="applications-info">
  <div class="job_title">
    <a href="{{application.app_url}}" target="_blank">{{application.job_title}}</a>
    <span>({{application.app_url}})</span>
  </div>
  <div class="meta">
  <p>HELLO I AM SOMETHING</p>
  <!--<a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> -->
</div>
</article>