<article class="applications-info">
  <div class="job_title">
    <h3>{{job_title}}</h3>
    <a href="{{app_url}}" target="_blank">{{company_name}}</a>
    <span>({{app_url}})</span>
  </div>
  <div class="meta">
  <p>Languages: {{app_language}}</p>
 
</div>
</article>