<div class="card">
<article class="applications-info">
  <div class="card-header job_title">
    <h3 class="card-header">{{job_title}}</h3>
  </div>
  <div class="card-body">
    <a href="{{app_url}}" target="_blank">{{company_name}}</a>
    <span>({{app_url}})</span>
  <div class="meta">
  <p>Languages: {{app_language}}</p>
</div>
</div>
</article>
</div>